<h2>あなたの歩数</h2>
<%= link_to "記録する", new_pedometer_path, class:"post" %>

<% @pedometers.each do |pedometer| %>
  <div class="pedometer">
    <div><%= pedometer.user.nickname %></div>
    <div class="pedometer-condition">
      <%= pedometer.condition.name %>
    </div>
    <div class="pedometer-date">
      <%= pedometer.date %>
    </div>
    <div class="pedometer-number_of_steps">
      <%= pedometer.number_of_steps %>歩
    </div>
  </div>
<% end %>