<%=form_with model: @community, local: true do |f|%>
  <input name="community[user_ids][]" type="hidden" value=<%= current_user.id %>>
  <div class='community-form__field'>
    <div class='community-form__field--up'>
      <%= f.label :コミュニティ名, class: 'community-form__label'%>
    </div>
    <div class='community-form__field--down'>
      <%= f.text_field :name, class: 'community-form__input-name', placeholder: 'コミュニティ名を入力してください(20文字以内)'%>
    </div>
  </div>
  <div class='community-form__field'>
    <div class='community-form__field--up'>
      <%= f.label :コミュニティの詳細, class: 'community-form__label'%>
    </div>
    <div class='community-form__field--down'>
      <%= f.text_area :detail, class: 'community-form__input-detail', placeholder: 'コミュニティの詳細を入力してください(200文字以内)'%>
    </div>
  </div>
  <div class='community-form__field'>
    <%= f.submit "保存する", class: 'community-form__action-btn'%>
  </div>
<% end %>