<div class='community-form'>
  <h1>新規コミュニティ</h1>
  <%=form_with model: @community, local: true do |f|%>
    <div class='community-form__field'>
      <div class='community-form__field--left'>
        <%= f.label :コミュニティ名, class: 'community-form__label'%>
      </div>
      <div class='community-form__field--right'>
        <%= f.text_field :name, class: 'chat__community_name community-form__input', placeholder: 'コミュニティ名を入力してください'%>
      </div>
    </div>
    <div class='community-form__field'>
      <div class='community-form__field--left'>
        <%= f.label :コミュニティの詳細, class: 'community-form__label'%>
      </div>
      <div class='community-form__field--right'>
        <%= f.text_area :detail, class: 'chat__community_name community-form__input', placeholder: 'コミュニティの詳細を入力してください'%>
      </div>
    </div>
    <div class='community-form__field'>
    </div>
    <div class='community-form__field'>
      <div class='community-form__field--left'>
        <label class='community-form__label' for='chat_community_コミュニティメンバー'>コミュニティメンバー</label>
      </div>
      <div class='community-form__field--right'>
        <%# select要素はプルダウンのようなセレクトボックスを作成するための要素 %>
        <%# select要素のname属性に任意の値を指定することでparamsを通して、その値をコントローラーへ渡すことができる %>
        <%# 以下のname属性の記述によって送られるパラメーターは{"community" => {"user_ids" => ["選択したuser.id"]}} 2重ハッシュ構造になっている %>
        <select name="community[user_ids][]">
          <%# select要素の中に記述することでプルダウンの選択肢になる要素 %>
          <option value="">コミュニティに参加するユーザーを選択してください</option>
          <%# モデル名.where("条件")と記述すると、条件に一致したレコードを配列として取得できる %>
          <%# モデル名.where.not("条件")は、条件に一致したレコード以外の値を配列として取得できる %>
          <% User.where.not(id: current_user.id).each do |user| %>
            <%# value属性で指定されたuser.idがname属性のcommunity[user_ids][user.id]として格納される %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
        <%# 以下の記述で、現在ログイン中のuserが持つidをparams"community[user_ids][]に追加で格納している %>
        <%# type属性にhiddenを指定することで、画面上には表示されないinput要素を作成できる %>
        <%# この記述の結果、コントローラーに送られるparamsは{"community" => {"user_ids" => ["選択したuser.id", "現在ログイン中のuser.id"]となる %>
        <input name="community[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='community-form__field'>
      <div class='community-form__field--left'></div>
      <div class='community-form__field--right'>
        <%= f.submit class: 'community-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
